.notification {
  border-style: solid;
  background-color: darkolivegreen;
  border-color: aqua;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.error {
  border-style: solid;
  background-color: rgb(124, 119, 119);
  border-color: red;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
